# =========================
# Python Virtual Environments
# =========================

.venv/
.venv_mac/
venv/
env/

# =========================
# Python Cache
# =========================

__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# =========================
# macOS
# =========================

.DS_Store

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Environment Variables
# =========================

.env
.env.*

# =========================
# Logs / Temporary Files
# =========================

*.log
*.tmp
*.temp